@import "imports/reset.scss", "imports/mixins.scss", "imports/variables.scss";
.container {
    @include flex(row,nowrap,center,center);
    padding: 1rem;
    height: 100vh;
}

.content {
    background-color: yellow;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows:20% 60% 20%;
    padding: 1rem;
    width:100%;
}

.controls {
    background-color: green;
    @include flex(column,nowrap,space-evenly,center);
    gap:1rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
    &__btn {
        background-color: lightgreen;
    }
}

.header {
    padding: 0.5rem 0;
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
    @include flex(row,nowrap,space-between,center);
    gap:2rem;
    &__div{
        @include flex(row,nowrap,left,center);
        gap:0.5rem;
    }

    &__btn {
        background-color: lightblue;
    }
    &__watch {
        background-color: lightcoral;
        @include flex(row, nowrap, space-between,center);
    }

    &__input{
      text-align: center;
      &--text{
        background-color: red;
        width:100%;      }
    }

    &__h2{
        background-color: lightcoral;
        text-align: center;
    }
  }
.watch {
    padding: 0.5rem 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3 ;
    background-color:red;
    display:grid;
    grid-template-columns: 40% 5% 40% 5% 10%;
    grid-template-rows:80% 20%;
    align-items: center;
    justify-items: center;

  &__h2--h {
    background-color: pink;
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
  }
  &__p--minSep {
    background-color:aquamarine;
    grid-row: 1 / 2 ;
    grid-column: 2 / 3;
  }
  &__h2--min {
    background-color: pink;
    grid-row: 1 / 2 ;
    grid-column: 3 / 4;
  }
  &__p--secSep {
    background-color:aquamarine;
    grid-column: 4 / 5;
    grid-row: 1 / 2 ;

  }
  &__h4--sec{
    background-color: blue;
    grid-column: 5 / 6;
    grid-row: 1 / 2 ;
  }
  &__h3--h {
      background-color: aqua;
      grid-column: 1 / 2;
        grid-row: 2 / 3 ;
    }
  &__h3--min {
    background-color: aqua;
    grid-column: 3 / 4;
    grid-row: 2 / 3 ;
  }
}
.navbar{
    grid-column: 2 / 3;
    grid-row: 3 / 4 ;
    background-color: grey;
    padding: 0.5rem;
    height:fit-content ;
    &__a {
        background-color: bisque;
    }
    &__ul{
        @include flex(row,nowrap,center,center);
        gap:1rem;
    }
    &__li {
        background-color: purple;

    }
    
  }
  .alarm {
    padding: 0.5rem 0;
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
    @include flex(row,nowrap,space-between,center);
    gap:2rem;
    &__div{
        @include flex(row,nowrap,left,center);
        gap:0.5rem;
    }

    &__btn {
        background-color: lightblue;
    }
    &__watch {
        background-color: lightcoral;
        @include flex(row, nowrap, space-between,center);
    }

    &__input{
      text-align: center;
      &--text{
        background-color: red;
        width:100%;      }
    }

    &__h2{
        background-color: lightcoral;
        text-align: center;
    }
  }